<div class="page">

  <!-- Paste Card -->
  <div class="paste-card" *ngIf="!loading && pasteData">

    <div class="paste-header">
      <span class="badge">CODE</span>
    </div>

    <pre class="paste-content">
{{ pasteData.content }}
    </pre>

    <div class="paste-footer">
      <span>Expires: <b>{{ pasteData.expires_at }}</b></span>
      <span>Views: <b>{{ pasteData.remaining_views }}</b></span>
    </div>

  </div>

  <!-- Loading -->
  <div class="loading" *ngIf="loading">
    Loading your code snippet...
  </div>

  <!-- Error -->
  <div class="error" *ngIf="!loading && error">
    {{ error }}
  </div>

</div>
